/*matching font chooosen Fjalla One for headers and Merriwaeather for regular paragraphs*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Merriweather:ital,wght@0,300;0,700;0,900;1,700&display=swap');

/* universal selector", matches any element on a page. It selects all elements in the HTML*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #009101;
    background-image: radial-gradient(circle at 50% 50%, #009101, #009100, #009200, #009300);
    height: 100vh;
}  

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.logo-container img {
  width: 200px;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button,
.register-button {
  padding: 1rem 2rem;
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 1.2rem;
  font-family: 'Fjalla One', sans-serif;
  text-transform: u
